
.frameCont{
    padding: 10px;


}
.frame{
    border: 1px solid #E0E2E7;
    border-radius: 5px;
    width: 100%;
    background: #e6e6e6;
    &__image{
        width: 100%;
        height: 100px;
        background-size: cover;
        cursor: pointer;
    }
    &__name{
        font-size: 15px;
        font-weight: bold;
        margin-left: 5px;
    }
    &__time{
        font-size: 14px;
        margin-left: 5px;
    }
    &__footer{
        padding: 5px 10px
    }
    &__checkbox{
        margin: 10px auto;
    }
    &__video-name{
        margin-left: 5px;
    }
}