.linkOnRecord{
    cursor: pointer;
    &:hover{
        color: #3b82c9;
    }
}

.frameOverlay{
    height: 400px;
    overflow: auto;
}

.toFrames {
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 16px 10px 20px;
    color: white;
    background: #50B848;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
    top: 95px;
    right: 50px;
    z-index: 99;
}

.videosCont{
    width: 92%;
    margin: 0 auto;
    margin-top: 20px;
}
