@import '~antd/dist/antd.css';

body{
    background: #e6e6e6;
}


.header{
    width: 100%;
    height: 50px;
    padding-left: 40px; 
    padding-top: 5px;
    background: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}